# Assignment 5

### Objective


Learn how to connect to social media network (we will use Twitter as example in this assignment), and collect/preprocess/analyze its data


Tweets Data Can be used for different purposes by marketing department and data analytics team. For example:

- Compete with rivals to offer price-match gaurantee policy
- Offer same coupons like rivals in the market place

### Installation and Setup

For this assignment you need to do the following setup first:

1.  Create an account on twitter.com.

2.  Generate authentication tokens by following the instructions here : 
    https://dev.twitter.com/oauth/overview/application-owner-access-tokens

3.  Add your tokens to the credentials.txt file.

### Twitter API

Twitter API

Two APIs:

    REST API: Submit HTTP requests to access specific information (tweets, friends, ...)
    Streaming API: Open a continuous connection to Twitter to receive real-time data.

These APIs are  HTTP GET request




Here are the twitter API docs that you must familiarize yourself with

https://dev.twitter.com/rest/reference/get/followers/ids

https://dev.twitter.com/overview/api/twitter-libraries

When you search in a text (tweets are text messages), often you need to be aware of something STOP WORDS.
You could read more about stop-words here:
 
    https://en.wikipedia.org/wiki/Stop_words

# Lets create twitter object and use its API. Code snippets below will show you how to use this API

In [2]:
from TwitterAPI import TwitterAPI, TwitterOAuth, TwitterPager

In [4]:
o = TwitterOAuth.read_file('credentials.txt')

In [5]:
o.access_token_key

'586178410-67B1fyY2HJrP40gTY1gK3FXRF564yBkLsx07BEVa'

In [6]:
# Using OAuth1...
twitter = TwitterAPI(o.consumer_key,
                 o.consumer_secret,
                 o.access_token_key,
                 o.access_token_secret)

In [7]:
help(twitter)

Help on TwitterAPI in module TwitterAPI.TwitterAPI object:

class TwitterAPI(builtins.object)
 |  Access REST API or Streaming API resources.
 |
 |  :param consumer_key: Twitter application consumer key
 |  :param consumer_secret: Twitter application consumer secret
 |  :param access_token_key: Twitter application access token key
 |  :param access_token_secret: Twitter application access token secret
 |  :param auth_type: "oAuth1" (default) or "oAuth2"
 |  :param proxy_url: HTTPS proxy URL string (ex. "https://USER:PASSWORD@SERVER:PORT"),
 |                    or dict of URLs (ex. {'http':'http://SERVER', 'https':'https://SERVER'})
 |
 |  Methods defined here:
 |
 |  __init__(self, consumer_key=None, consumer_secret=None, access_token_key=None, access_token_secret=None, auth_type='oAuth1', proxy_url=None)
 |      Initialize with your Twitter application credentials
 |
 |  request(self, resource, params=None, files=None, method_override=None)
 |      Request a Twitter REST API or Streaming API resource.
 |
 |      :param resource: A valid Twitter endpoint (ex. "search/tweets")
 |      :param params: Dictionary with endpoint parameters or None (default)
 |      :param files: Dictionary with multipart-encoded file or None (default)
 |      :param method_override: Request method to override or None (default)
 |
 |      :returns: TwitterResponse
 |      :raises: TwitterConnectionError
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [8]:
# What can we do with this twitter object?
# builtin method `dir` tells us...
dir(twitter)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_endpoint',
 '_prepare_url',
 'auth',
 'proxies',
 'request']

In [9]:
twitter.auth

In [10]:
# Get help on the `request` method using the builtin method called...`help`
help(twitter.request)

Help on method request in module TwitterAPI.TwitterAPI:

request(resource, params=None, files=None, method_override=None) method of TwitterAPI.TwitterAPI.TwitterAPI instance
    Request a Twitter REST API or Streaming API resource.

    :param resource: A valid Twitter endpoint (ex. "search/tweets")
    :param params: Dictionary with endpoint parameters or None (default)
    :param files: Dictionary with multipart-encoded file or None (default)
    :param method_override: Request method to override or None (default)

    :returns: TwitterResponse
    :raises: TwitterConnectionError

In [11]:
# Let's start by querying the search API
response = twitter.request('search/tweets', {'q': 'big+data'})

In [13]:
# What object is returned?
# builtin type method will tell us.
print (type(response))
dir(response)

<class 'TwitterAPI.TwitterAPI.TwitterResponse'>

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'get_iterator',
 'get_quota',
 'headers',
 'json',
 'response',
 'status_code',
 'stream',
 'text']

In [14]:
response.json

In [15]:
response.status_code
# See https://dev.twitter.com/overview/api/response-codes

200

In [16]:
tweets = [r for r in response]

In [17]:
print('found %d tweets' % len(tweets))

found 15 tweets

In [18]:
type(tweets)

list

In [19]:
type(tweets[0])

dict

In [20]:
tweets[0]

{'created_at': 'Sat Dec 01 20:29:16 +0000 2018',
 'id': 1068965273321930752,
 'id_str': '1068965273321930752',
 'text': 'RT @laureldavilacpa: “With 71.0 percent of registered voters casting ballots, this was OC’s highest-turnout midterm election since 1970, ac…',
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [{'screen_name': 'laureldavilacpa',
    'name': 'Laurel #TakeItBackOC 🌊🌊🌊',
    'id': 21705181,
    'id_str': '21705181',
    'indices': [3, 19]}],
  'urls': []},
 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 898358869780332546,
  'id_str': '898358869780332546',
  'name': 'StandUpOC_FlippedOCBlue2016_Thus2018-4SeatBlueWave',
  'screen_name': 'StandUpOC',
  'location': '',
  'description': 'Nationally-focused, Locally-Driven Grassroots Team created by 2016 HRC Volunteer Leaders Flipping OC BLUE 4 1st time in 80 years; Leading to 2018 Blue Wave🌊🌊',
  'url': 'https://t.co/uskyidO2h0',
  'entities': {'url': {'urls': [{'url': 'https://t.co/uskyidO2h0',
      'expanded_url': 'http://standupoc.com',
      'display_url': 'standupoc.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 593,
  'friends_count': 860,
  'listed_count': 0,
  'created_at': 'Fri Aug 18 01:40:20 +0000 2017',
  'favourites_count': 580,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': False,
  'statuses_count': 523,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': None,
  'profile_background_image_url_https': None,
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1056989638999519232/wf2fRH1l_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1056989638999519232/wf2fRH1l_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/898358869780332546/1540843340',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': True,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'retweeted_status': {'created_at': 'Sat Dec 01 18:12:01 +0000 2018',
  'id': 1068930733492756480,
  'id_str': '1068930733492756480',
  'text': '“With 71.0 percent of registered voters casting ballots, this was OC’s highest-turnout midterm election since 1970,… https://t.co/rOROh4P5oW',
  'truncated': True,
  'entities': {'hashtags': [],
   'symbols': [],
   'user_mentions': [],
   'urls': [{'url': 'https://t.co/rOROh4P5oW',
     'expanded_url': 'https://twitter.com/i/web/status/1068930733492756480',
     'display_url': 'twitter.com/i/web/status/1…',
     'indices': [117, 140]}]},
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 21705181,
   'id_str': '21705181',
   'name': 'Laurel #TakeItBackOC 🌊🌊🌊',
   'screen_name': 'laureldavilacpa',
   'location': 'Tustin and Irvine, California',
   'description': '#Feminist #ClimateChange #Humanist #LGBTQIA #TaxJustice #CA45 #AD74 #ProgressDems #IrvineDems #TakeItBack #BlueWave Please follow: @ProgressDems @DemsofIrvine',
   'url': 'https://t.co/nlM0BD2Ocu',
   'entities': {'url': {'urls': [{'url': 'https://t.co/nlM0BD2Ocu',
       'expanded_url': 'https://laurelmdavilacpa.com',
       'display_url': 'laurelmdavilacpa.com',
       'indices': [0, 23]}]},
    'description': {'urls': []}},
   'protected': False,
   'followers_count': 115617,
   'friends_count': 118154,
   'listed_count': 848,
   'created_at': 'Mon Feb 23 23:05:40 +0000 2009',
   'favourites_count': 120780,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': False,
   'verified': False,
   'statuses_count': 155112,
   'lang': 'en',
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': '642D8B',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme10/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme10/bg.gif',
   'profile_background_tile': True,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1008729357190221824/sg0OD1ug_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1008729357190221824/sg0OD1ug_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/21705181/1528282244',
   'profile_link_color': 'FF0000',
   'profile_sidebar_border_color': '65B0DA',
   'profile_sidebar_fill_color': '7AC3EE',
   'profile_text_color': '3D1957',
   'profile_use_background_image': True,
   'has_extended_profile': False,
   'default_profile': False,
   'default_profile_image': False,
   'following': False,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'none'},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 22,
  'favorite_count': 28,
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'lang': 'en'},
 'is_quote_status': False,
 'retweet_count': 22,
 'favorite_count': 0,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'en'}

In [21]:
help(tweets[0])

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [22]:
tweets[0].keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'metadata', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'lang'])

In [23]:
tweets[0]['text']

'RT @laureldavilacpa: “With 71.0 percent of registered voters casting ballots, this was OC’s highest-turnout midterm election since 1970, ac…'

In [24]:
tweets[0]['created_at']

'Sat Dec 01 20:29:16 +0000 2018'

In [25]:
tweets[0]['text']

'RT @laureldavilacpa: “With 71.0 percent of registered voters casting ballots, this was OC’s highest-turnout midterm election since 1970, ac…'

In [26]:
tweets[0]['user']

{'id': 898358869780332546,
 'id_str': '898358869780332546',
 'name': 'StandUpOC_FlippedOCBlue2016_Thus2018-4SeatBlueWave',
 'screen_name': 'StandUpOC',
 'location': '',
 'description': 'Nationally-focused, Locally-Driven Grassroots Team created by 2016 HRC Volunteer Leaders Flipping OC BLUE 4 1st time in 80 years; Leading to 2018 Blue Wave🌊🌊',
 'url': 'https://t.co/uskyidO2h0',
 'entities': {'url': {'urls': [{'url': 'https://t.co/uskyidO2h0',
     'expanded_url': 'http://standupoc.com',
     'display_url': 'standupoc.com',
     'indices': [0, 23]}]},
  'description': {'urls': []}},
 'protected': False,
 'followers_count': 593,
 'friends_count': 860,
 'listed_count': 0,
 'created_at': 'Fri Aug 18 01:40:20 +0000 2017',
 'favourites_count': 580,
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': False,
 'verified': False,
 'statuses_count': 523,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'is_translation_enabled': False,
 'profile_background_color': 'F5F8FA',
 'profile_background_image_url': None,
 'profile_background_image_url_https': None,
 'profile_background_tile': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1056989638999519232/wf2fRH1l_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1056989638999519232/wf2fRH1l_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/898358869780332546/1540843340',
 'profile_link_color': '1DA1F2',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'has_extended_profile': False,
 'default_profile': True,
 'default_profile_image': False,
 'following': False,
 'follow_request_sent': False,
 'notifications': False,
 'translator_type': 'none'}

In [27]:
user = tweets[0]['user']
print('screen_name=%s, name=%s, location=%s' % (user['screen_name'], user['name'], user['location']))

screen_name=StandUpOC, name=StandUpOC_FlippedOCBlue2016_Thus2018-4SeatBlueWave, location=

In [29]:
# Who follows this person?
# https://dev.twitter.com/docs/api/1.1/get/followers/list
screen_name = user['screen_name']
response  = twitter.request('followers/list', {'screen_name': screen_name, 'count':200})
followers = [follower for follower in response]
        
print ('found %d followers for %s' % (len(followers), screen_name))
# See more about paging here: https://dev.twitter.com/docs/working-with-timelines

found 200 followers for StandUpOC

In [31]:
print (followers[0]['screen_name'])

MissMayVon1

##  Limitations:       Can only search 2 weeks in past         But can get up to 3,200 most recent tweets of a user     Rate limits! https://dev.twitter.com/docs/rate-limiting/1.1/limits         e.g., 180 requests in 15 minute window

# Get BestBuy timeline for the deals screen-name

# This is the screen name for BestBuy_Deals

In [33]:
# Get BestBuyDeals timeline = ''
screen_name = 'HotelDeals'
timeline = [tweet for tweet in twitter.request('statuses/user_timeline',
                                                {'screen_name': screen_name,
                                                 'count': 200})]
print ('got %d tweets for user %s' % (len(timeline), screen_name))

got 200 tweets for user HotelDeals

In [34]:
# Print time got created.

timeline[3]['created_at']

'Tue Aug 31 10:32:32 +0000 2010'

In [36]:
# Print the text.
print ()'\n\n\n'.join(t['text'] for t in timeline))

SyntaxError: invalid syntax (<ipython-input-36-979f4c5655c8>, line 2)

In [37]:
# Count words
from collections import Counter  # This is just a fancy dict mapping from object->int, starting at 0.
counts = Counter()
for tweet in timeline:
    counts.update(tweet['text'].lower().split())
print('found %d unique terms in %d tweets' % (len(counts), len(timeline)))
counts.most_common(10)

found 1034 unique terms in 200 tweets

[('-', 462),
 ('from', 212),
 ('save', 209),
 ('#traveldeals', 200),
 ('rates', 73),
 ('at', 53),
 ('+', 45),
 ('in', 40),
 ('fl', 39),
 ('for', 33)]

In [38]:
import re
for tweet in timeline:
    deal = tweet['text']
    print (deal + '\n')

From $129/nt Kona, HI - Save 32% - "Room and Breakfast Package" + Includes Breakfast for Two #traveldeals http://dealbase.com/d/264177

From $189/nt San Francisco, CA - Save 53% - Cable Car Package + Two Cable Car Passes #traveldeals http://dealbase.com/d/264157

From $115/nt Bloomington, MN - Save 39% - "Magnifique Breakfast" Deal + Breakfast for Two #traveldeals http://dealbase.com/d/264139

From $179/nt Palm Springs, CA - Save 33% - $100 Hotel Credit at Upscale Southern California Ret... #traveldeals http://dealbase.com/d/264015

From $69/nt Nashville, TN - Save 37% - "Spend Less and Play More Package" + Special Rates #traveldeals http://dealbase.com/d/263857

From $114/nt Atlanta, GA - Save 28% - Romantic Weekend Getaway Package +  Breakfast, Champagne #traveldeals http://dealbase.com/d/263846

From $169/nt Chicago, IL - Save 45% - Summer in the City Package + Parking and 2nd Room Discount #traveldeals http://dealbase.com/d/263845

From $93/nt Miami, FL - Save 33% - Fall Fun Package + 3rd Night Free #traveldeals http://dealbase.com/d/263679

From $169/nt Kansas City, MO - Save 38% - Amusement Park Package + 2 Adult Passes and Breakfast #traveldeals http://dealbase.com/d/263802

From $120/nt Aspen, CO - Save 63% - Low Rate at Hotel With Great Service in the Heart of Aspen #traveldeals http://dealbase.com/d/263732

From $124/nt Las Vegas, NV - Save 56% - "Discover Yourself at the Theatre" -Show Discount, Brea... #traveldeals http://dealbase.com/d/263669

From $109/nt Phoenix, AZ - Save 50% - "Park Here and Fly There" Package + Free Airport Parking #traveldeals http://dealbase.com/d/263645

From $108/nt Lake Buena Vista, FL - Save 43% - Great Savings at Select Disney Resort Hotels #traveldeals http://dealbase.com/d/263619

From $149/nt San Francisco, CA - Save 34% - Special Rates on 3 Night Stays #traveldeals http://dealbase.com/d/263557

From $70/nt Houston, TX - Save 66% - Low Rates Near Houston’s Art-Gallery Scene #traveldeals http://dealbase.com/d/263535

From $141/nt Sacramento, CA - Save 23% - "Beer Lovers Deal" + Breakfast, Best Brews Sampler Dis... #traveldeals http://dealbase.com/d/263452

From $199/nt San Diego, CA - Save 31% - "Legoland/Sealife Package" + Admission Tickets, Parking #traveldeals http://dealbase.com/d/263428

From $199/nt Washington DC, DC - Save 52% - "Holiday Lights & Breakfast Delights Deal" + Breakf... #traveldeals http://dealbase.com/d/263367

From $127/nt San Diego, CA - Save 24% - Breakfast Package + Free Breakfast for Two #traveldeals http://dealbase.com/d/263353

From $109/nt Portland, OR - Save 42% - "Airport Parking Package" + Up To 10 Days Of Parking #traveldeals http://dealbase.com/d/263325

From $79/nt San Juan, PR - Save 60% - Exclusive Rates for Marriott Rewards Members #traveldeals http://dealbase.com/d/263207

From $109/nt Orlando, FL - Save 43% - "Park & Embark Package" + Cruise Parking, Breakfast #traveldeals http://dealbase.com/d/263161

From $74/nt Orlando, FL - Save 46% - "Marriott Rewards - 25% Off Weekends Offer" #traveldeals http://dealbase.com/d/263153

From $35/nt Kissimmee, FL - Save 49% - Special Rates Through October #traveldeals http://dealbase.com/d/263147

From $50/nt Anaheim, CA - Save 51% - Save with Fall Rates at Hotel Just 2 Blocks from Disneyland #traveldeals http://dealbase.com/d/263091

From $109/nt Philadelphia, PA - Save 40% - Sizzle in Philly #traveldeals http://dealbase.com/d/262785

From $90/nt Reno, NV - Save 25% - "Suite Escape Special" + Discount Rates #traveldeals http://dealbase.com/d/263001

From $79/nt Anaheim, CA - Save 21% - AAA Disneyland Hotel Special Rates #traveldeals http://dealbase.com/d/262002

From $119/nt Las Vegas Strip, NV - Save 66% - Use Code USHARE4 To Get Great Rates at Encore #traveldeals http://dealbase.com/d/262939

From $189/nt New York City, NY - Save 49% - "Bed & Breakfast Package" + Free Breakfast For 2 #traveldeals http://dealbase.com/d/262909

From $125/nt St. Thomas, VI - Save 43% - Endless Summer Sale Offer in St. Thomas #traveldeals http://dealbase.com/d/262811

From $174/nt San Francisco, CA - Save 30% - Shopping Package + $25 Macy's Gift Card #traveldeals http://dealbase.com/d/262794

From $85/nt Las Vegas Strip, NV - Save 63% - Low Rates Plus Tickets to See Michael Franti & Spe... #traveldeals http://dealbase.com/d/262781

From $90/nt Houston, TX - Save 45% - Special Weekend Rates with American Express Payment #traveldeals http://dealbase.com/d/262673

From $140/nt Beverly Hills, CA - Save 22% - Book Now and Save During the Holidays in Beverly Hills #traveldeals http://dealbase.com/d/262619

From $142/nt Punta Cana, DO - Save 55% - Great Low Rates at 4-Star Family Resort in Punta Cana #traveldeals http://dealbase.com/d/262578

From $98/nt Playa del Carmen, MX - Save 50% - Enjoy Hotel Riu Lupita From $49 pp/pn! #traveldeals http://dealbase.com/d/262562

From $119/nt New Orleans, LA - Save 29% - Hot August Nights Package includes Taxes and Valet #traveldeals http://dealbase.com/d/262546

From $152/nt Cayman Islands - Save 60% - Caribbean Beach Resort Stays for Less #traveldeals http://dealbase.com/d/262490

From $92/nt Las Vegas, NV - Save 23% - "The Ultimate Variety Experience" - Vegas Show, Free Dinner #traveldeals http://dealbase.com/d/262481

From $94/nt Punta Cana, DO - Save 37% - Great Rates at an All Inclusive Resort in Punta Cana #traveldeals http://dealbase.com/d/262434

From $67/nt Park City, UT - Save 32% - Reduced Rates for Fall Stays in Park City #traveldeals http://dealbase.com/d/262382

From $125/nt Orlando, FL - Save 20% - Special Rates Near Orlando's Biggest Attractions #traveldeals http://dealbase.com/d/262375

From $59/nt Las Vegas Strip, NV - Save 63% - Exclusive Low Rate at This Hip Strip Hotel #traveldeals http://dealbase.com/d/262287

From $118/nt Washington DC, DC - Save 50% - Labor Day Sale in Washington! - Great Rates on Capi... #traveldeals http://dealbase.com/d/262259

From $125/nt Miami, FL - Save 50% - Seven Seas Spa Package + $40 Spa Gift Card & Room Upgrade #traveldeals http://dealbase.com/d/262240

From $59/nt Jacksonville, FL - Save 38% - Free Night Package + Stay 2 Nights, Get a 3rd Night Free #traveldeals http://dealbase.com/d/262130

From $142/nt Miami Beach, FL - Save 31% - 4th Night Free at Chic Modern Miami Beach Hotel #traveldeals http://dealbase.com/d/262123

From $36/nt Orlando, FL - Save 41% - Great Summertime Rates for Resort 1.5 Miles From Disney! #traveldeals http://dealbase.com/d/261944

From $171/nt Ft. Lauderdale, FL - Save 32% - Limited Time Savings at Beautiful Miami Golf Resor... #traveldeals http://dealbase.com/d/261935

From $110/nt Cancun, MX - Save 60% - All Inclusive Offer at Beachfront Resort in Cancun #traveldeals http://dealbase.com/d/261929

From $169/nt Dallas, TX - Save 36% - Girl's Getaway Offer + Breakfast for 4, Pizza, Movie, Wine #traveldeals http://dealbase.com/d/261832

From $180/nt St. Lucia - Save 51% - Special Rate at Chic Hotel on the Island's Remote West Coast #traveldeals http://dealbase.com/d/261787

From $104/nt Cabo San Lucas, MX - Save 50% - "Under the Big Blue Sea" + Snorkeling Excursion #traveldeals http://dealbase.com/d/261780

From $138/nt Dominican Republic - Save 60% - Great Rates in the Dominican Republic #traveldeals http://dealbase.com/d/261765

From $179/nt West Hollywood, CA - Save 20% - "Summer Getaway Special" - Great Rates in West Hol... #traveldeals http://dealbase.com/d/261724

From $65/nt Cancun, MX - Save 80% - Low Rates at 4-Star Cancun Resort with Ocean & Lagoon Views #traveldeals http://dealbase.com/d/261644

From $104/nt Las Vegas, NV - Save 42% - "Stay for Breakfast " - Free Breakfast for Two #traveldeals http://dealbase.com/d/261640

From $99/nt Baltimore, MD - Save 50% - Friday Frenzy + Great Rate and Certificate for Free Night! #traveldeals http://dealbase.com/d/261634

From $39/nt Las Vegas, NV - Save 57% - Save Big On Stays at this Vegas Classic #traveldeals http://dealbase.com/d/261630

From $96/nt Las Vegas Strip, NV - Save 29% - Save at the 4-Star Paris Hotel in the Heart of the... #traveldeals http://dealbase.com/d/261431

From $122/nt Montreal, QC, CA - Save 32% - Great Rates in the Heart of Montreal's Cultural Dist... #traveldeals http://dealbase.com/d/261388

From $119/nt Las Vegas Strip, NV - Save 62% - Use Code "USHARE4" To Get Great Rates at Wynn #traveldeals http://dealbase.com/d/261245

From $75/nt Orlando, FL - Save 34% - "Education Rate Package" + Special Rates in Orlando #traveldeals http://dealbase.com/d/261362

From $139/nt St. Louis, MO - Save 39% - Pride Welcome Package + Breakfast, Amenity and Late Che... #traveldeals http://dealbase.com/d/261348

From $179/nt San Antonio, TX - Save 39% - Sunshine on Sale with the 3rd Night Free in San Antonio #traveldeals http://dealbase.com/d/261230

From $199/nt Denver, CO - Save 35% - Amour Package includes Breakfast, Champagne & Strawberries #traveldeals http://dealbase.com/d/261144

From $143/nt Key West, FL - Save 40% - "August Savings" + Stay 3 Nights and Receive 40% off #traveldeals http://dealbase.com/d/261139

From $164/nt Miami, FL - Save 22% - Breakfast for Two & a Bottle of Wine at Stylish Miami Hotel #traveldeals http://dealbase.com/d/261129

From $89/nt San Juan, PR - Save 47% - 5 Nights for the Price of 3 at Luxury Puerto Rico Resort #traveldeals http://dealbase.com/d/261101

From $169/nt Philadelphia, PA - Save 26% - Philly's Best Deal Package + Valet Parking and Dinin... #traveldeals http://dealbase.com/d/260903

From $85/nt St. Louis, MO - Save 66% - Special Rates at Hotel a Short Walk From Forest Park #traveldeals http://dealbase.com/d/260969

From $149/nt Boston, MA - Save 32% - "Duck Tour Package" + Discount on Duck Tour Tickets #traveldeals http://dealbase.com/d/260964

From $80/nt Palm Springs, CA - Save 61% - Private Sale with Spa Credit at Upscale Palm Springs ... #traveldeals http://dealbase.com/d/260883

From $80/nt Punta Cana, DO - Save 57% - Special All Inclusive Rates in Punta Cana - Sept & October #traveldeals http://dealbase.com/d/260819

From $199/nt Kona, HI - Save 21% - "Royal-Tee Package" + Four Rounds of Golf, Breakfast #traveldeals http://dealbase.com/d/260806

From $99/nt Phoenix, AZ - Save 35% - "Grand Staycation Celebration" + Stay & Play from $99 #traveldeals http://dealbase.com/d/260789

From $95/nt Oakland, CA - Save 25% - Stay Near Oakland Airport & Enjoy Free Internet #traveldeals http://dealbase.com/d/260778

From $99/nt Naples, FL - Save 23% - Perfectly Priced Weeknights at Florida Oceanfront Resort #traveldeals http://dealbase.com/d/260682

From $64/nt Las Vegas Strip, NV - Save 56% - Book Fast for Great Rates at The Mirage #traveldeals http://dealbase.com/d/260570

From $140/nt Nashville, TN - Save 26% - "Sweetheart Package" + Champagne, Chocolates, Breakfast #traveldeals http://dealbase.com/d/260508

From $199/nt La Jolla, CA - Save 44% - Special Summer Rates at Beachfront Hotel in La Jolla #traveldeals http://dealbase.com/d/260502

From $109/nt New Orleans, LA - Save 58% - Spirit to Serve Package with Volunteer Opportunities ... #traveldeals http://dealbase.com/d/260497

From $111/nt Las Vegas Strip, NV - Save 50% - 72-Hour Sale Offers Unbelievable Rates at This 5-... #traveldeals http://dealbase.com/d/260487

From $152/nt Playa del Carmen, MX - Save 49% - All Inclusive Stays in Mexico with a Great Low Rate #traveldeals http://dealbase.com/d/260400

From $150/nt New York City, NY - Save 44% - Special Rates at This Hip Hotel 2 Blocks From Penn ... #traveldeals http://dealbase.com/d/260382

From $196/nt Punta Cana, DO - Save 51% - A Reduced Rate at a 4-Star Beach Resort #traveldeals http://dealbase.com/d/260335

From $103/nt Las Vegas Strip, NV - Save 33% - Three Days to Save! Limited-Time Lowered Rates #traveldeals http://dealbase.com/d/260295

From $135/nt Orlando, FL - Save 38% - Weekend Escape at All Suite Resort + Breakfast, $25 Gas Card #traveldeals http://dealbase.com/d/260293

From $55/nt Las Vegas Strip, NV - Save 52% - 3-Day Sale! Special Rates, But Book Fast #traveldeals http://dealbase.com/d/260290

From $129/nt Honolulu, HI - Save 39% - Fabulous Fall Rates - Save on Oceanfront Hotel in Hawaii #traveldeals http://dealbase.com/d/260224

From $59/nt Lake Buena Vista, FL - Save 70% - Great Rates at a Resort Located in Walt Disney Wo... #traveldeals http://dealbase.com/d/260212

From $135/nt Miami Beach, FL - Save 45% - Special Rates at Miami Beach Hotel in August with Bre... #traveldeals http://dealbase.com/d/260075

From $159/nt Ft. Lauderdale, FL - Save 20% - Limited Time Special Rates at Chic Fort Lauderdale... #traveldeals http://dealbase.com/d/259959

From $109/nt Houston, TX - Save 55% - Refreshing Rates at the Magnolia Houston Includes an Upgrade #traveldeals http://dealbase.com/d/259929

From $114/nt Alexandria, VA - Save 30% - Family Getaway Package + Pizza, Soda, Coloring Books #traveldeals http://dealbase.com/d/259917

From $59/nt Las Vegas Strip, NV - Save 50% - Extend Your Summer Vacation With Low Rates Into th... #traveldeals http://dealbase.com/d/259898

From $168/nt Punta Cana, DO - Save 21% - Five-Star All-Inclusive Resort Sale in Dominican Republic #traveldeals http://dealbase.com/d/259883

From $74/nt Kissimmee, FL - Save 55% - "Weeklong Car Rental Package" + Free Midsize Car Rental #traveldeals http://dealbase.com/d/259768

From $99/nt San Francisco, CA - Save 63% - Special Rates for Weeknight Stays in San Francisco #traveldeals http://dealbase.com/d/259634

From $183/nt New York City, NY - Save 32% - New York on Sale! Great Rates at Boutique Hotel in ... #traveldeals http://dealbase.com/d/259622

From $66/nt Miami, FL - Save 38% - Buy Two Nights, Get One Free at Miami Airport Marriott #traveldeals http://dealbase.com/d/259480

From $135/nt Orlando, FL - Save 36% - "Weekend Getaways Package" + Breakfast, $20 Gas Card #traveldeals http://dealbase.com/d/259399

From $139/nt Tampa, FL - Save 30% - Breakfast Package + Free Breakfast for 2 Adults and 2 Kids #traveldeals http://dealbase.com/d/259392

From $109/nt Atlanta, GA - Save 45% - Escape to Atlanta with Breakfast, Newspaper & Late Checkout #traveldeals http://dealbase.com/d/259372

From $199/nt Houston, TX - Save 36% - "Celebrate Independence Every Weekend" + Credit, Breakfast #traveldeals http://dealbase.com/d/259287

From $104/nt Punta Cana, DO - Save 43% - Special Rates at an All Inclusive Beach Resort #traveldeals http://dealbase.com/d/259230

From $176/nt Riviera Maya, MX - Save 45% - Great Rates at an All Inclusive Resort in Riviera Maya #traveldeals http://dealbase.com/d/259217

From $90/nt San Juan, PR - Save 31% - "Buy 3 Nights, Get 2 Additional Free" #traveldeals http://dealbase.com/d/259161

From $50/nt Kissimmee, FL - Save 28% - Low Rates at Water Park Hotel near Disney World #traveldeals http://dealbase.com/d/259144

From $95/nt Miami, FL - Save 41% - "Fun Florida Getaway" Package with Great Rates in Miami #traveldeals http://dealbase.com/d/259133

From $125/nt Sedona, AZ - Save 38% - Last Minute Getaway!  40% OFF the First Night #traveldeals http://dealbase.com/d/258975

From $39/nt Reno, NV - Save 63% - Reno on Sale - Low Rates + 2 for 1 Breakfast & Show Tickets #traveldeals http://dealbase.com/d/259005

From $169/nt San Diego, CA - Save 47% - "Family Dollar Days Offer" + $1 Parking, Breakfast, & M... #traveldeals http://dealbase.com/d/258984

From $129/nt Monterey, CA - Save 36% - "Pooch Package" + Pet Amenities, SPCA Donation #traveldeals http://dealbase.com/d/258964

From $125/nt Chicago, IL - Save 49% - Discounted Rates at a Posh Chicago Hotel #traveldeals http://dealbase.com/d/258857

From $169/nt Alexandria, VA - Save 42% - "Breakfast in Bed Package" + Wine & Cheese, Breakfast #traveldeals http://dealbase.com/d/258844

From $194/nt Orlando, FL - Save 55% - "Marriott Rewards Members Save 35% Off This Fall" #traveldeals http://dealbase.com/d/258741

From $178/nt Cancun, MX - Save 31% - November - December Special Rates at an All Inclusive Resort #traveldeals http://dealbase.com/d/258729

From $90/nt Cancun, MX - Save 67% - Low Rates at Hotel on Condé Nast Traveler’s 2010 Hot List #traveldeals http://dealbase.com/d/258678

From $125/nt Scottsdale, AZ - Save 24% - "Shopping Package" + $25 Visa Gift Card, Breakfast, Pa... #traveldeals http://dealbase.com/d/258672

From $189/nt Seattle, WA - Save 44% - Fab Week-end Rates for AAA / CAA Members #traveldeals http://dealbase.com/d/258646

From $119/nt Baltimore, MD - Save 47% - Summer on Sale - Great Rates near the Inner Harbor #traveldeals http://dealbase.com/d/258551

From $96/nt Las Vegas, NV - Save 41% - Great Rates in Las Vegas for Four in a Junior Suite #traveldeals http://dealbase.com/d/258486

From $168/nt Chicago, IL - Save 25% - Wonderful Rates on Weekday Stays in the Windy City #traveldeals http://dealbase.com/d/258473

From $115/nt Miami Beach, FL - Save 53% - Great Rates at This Hotel With Rooftop Pool, Salon an... #traveldeals http://dealbase.com/d/258472

From $80/nt Las Vegas Strip, NV - Save 46% - Great Rates While They Last! Book Now #traveldeals http://dealbase.com/d/258370

From $149/nt Atlantic City, NJ - Save 35% - "The Players Package" + Slot Cash, Match Play #traveldeals http://dealbase.com/d/258232

From $92/nt Philadelphia, PA - Save 47% - "Play and Stay Package" + Parking and Museum Passes #traveldeals http://dealbase.com/d/258213

From $66/nt Henderson, NV - Save 58% - "Aston Introductory Deals" - Studios Available From $66 #traveldeals http://dealbase.com/d/258201

From $189/nt Philadelphia, PA - Save 29% - "Cleopatra VIP Package" - Exhibit Tickets #traveldeals http://dealbase.com/d/258086

From $90/nt Las Vegas Strip, NV - Save 39% - Great Rates on Suites at This Hotel With a Real Beach #traveldeals http://dealbase.com/d/258071

From $189/nt Boston, MA - Save 45% - "Escape! Dining Package" - Dinner for 2, Breakfast for 2 #traveldeals http://dealbase.com/d/257996

From $139/nt Seattle, WA - Save 50% - "Sweet Summer Weekend" - Special Weekend Rates #traveldeals http://dealbase.com/d/257969

From $178/nt St. Lucia - Save 66% - Great All-Inclusive Rates at Village-Style Resort #traveldeals http://dealbase.com/d/257930

From $199/nt New York City, NY - Save 47% - "Fourth of July Package" - Room Upgrade, Breakfast #traveldeals http://dealbase.com/d/257918

From $79/nt New Orleans, LA - Save 32% - Low Rates in the French Quarter, Two Blocks from Bourb... #traveldeals http://dealbase.com/d/257863

From $189/nt New York City, NY - Save 24% - "Hot Summer Rates" - From $189 Per Night #traveldeals http://dealbase.com/d/257793

From $199/nt Richmond, VA - Save 37% - Segway of Richmond Package - Tour, Free Parking #traveldeals http://dealbase.com/d/256949

From $108/nt New Orleans, LA - Save 59% - "Summer Special" - Breakfast and Parking #traveldeals http://dealbase.com/d/257777

From $159/nt Honolulu, HI - Save 25% - "Fall Sale" - Great Rates on Waikiki Beach #traveldeals http://dealbase.com/d/257664

From $184/nt New York City, NY - Save 29% - "Meet Picasso at the Met" - Museum Tickets for Two #traveldeals http://dealbase.com/d/257659

From $99/nt Philadelphia, PA - Save 41% - "Sweet Summer Weekends" - Special Rates #traveldeals http://dealbase.com/d/257634

From $109/nt Denver, CO - Save 54% - "Sweet Summer Weekends" - Special Rates #traveldeals http://dealbase.com/d/257607

From $172/nt Naples, FL - Save 30% - "Peace of Mind" - 4th Night Free, Breakfast, Parking #traveldeals http://dealbase.com/d/257580

From $171/nt Miami, FL - Save 33% - "Miami Spa Month" - Nightly $75 Spa Credit #traveldeals http://dealbase.com/d/257417

From $103/nt Las Vegas Strip, NV - Save 46% - 72-Hour Sale! Unbelievable Rates at This 5-Star H... #traveldeals http://dealbase.com/d/257356

From $99/nt Atlanta, GA - Save 20% - "Family Fun In Atlanta" - Dining Card, Parking #traveldeals http://dealbase.com/d/257342

From $146/nt Atlanta, GA - Save 47% - "MORE Rosewood" - Third Night Free #traveldeals http://dealbase.com/d/257335


# Find  the deals in the BestBuy_Deal tweets  that match products in BestDeal MySQL product table

In [41]:
import re
import pymysql

con = pymysql.connect(user='root', password='root',host='127.0.0.1',database='smarttraveler')

cursor = con.cursor()
query = ("SELECT hotelName FROM hotel")
cursor.execute(query)

dealMatchGauranteed=[]
for product in cursor:
    for tweet in timeline:
        deal = tweet['text']
        if (len(re.findall(r'\s' + product[0] + '\s',deal)) >= 1):
            dealMatchGauranteed = dealMatchGauranteed + [deal]

In [42]:
# Sanity Test that  we got some deals
dealMatchGauranteed

['From $108/nt Lake Buena Vista, FL - Save 43% - Great Savings at Select Disney Resort Hotels #traveldeals http://dealbase.com/d/263619']

# Create and write the deals into DealMatches.txt file that will be used by web-app of BestDeal to display two deal matches

In [44]:
dealMatchFile = open('DealMatches.txt', 'w')

str1 = ' #Deal\n'
str1Out = ' #Deal '
str2 = ' #Deals\n'
str2Out = ' #Deals '

for deal in dealMatchGauranteed:
    if(deal.find(str1)!=-1):
        deal = deal.replace(str1,str1Out)
    if(deal.find(str2)!=-1):
        deal = deal.replace(str2,str2Out)
    dealMatchFile.write("%s\n" % deal)
    print (deal)

dealMatchFile.close()

From $108/nt Lake Buena Vista, FL - Save 43% - Great Savings at Select Disney Resort Hotels #traveldeals http://dealbase.com/d/263619